
body{
    font-family:"montserrat";
    text-align: center;
   
}

     
.coloured-section{
     padding: 5rem 10rem;
     background: linear-gradient(-45deg, #87A2FB, #992d99, #461446, #b490b4);
     animation: change 10s ease-in-out infinite;
}
@keyframes{
    0%{
        background-position:0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position:0 50%;
    }
}
p{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
.top-text{
    color:rgb(224, 143, 67);
    font-weight: bold;
}
h1,h2,h3{
    font-weight: bold;
    font-family:'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    
}
.big-header{
    font-size: 3.5rem;
}

.container{
    padding: 4rem 0 8rem;
    color:white;
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    background-color:white; 
 
}
.fixed-top{
    padding: 1.4rem;
    
}
.navbar-nav  {
    color: blue !important;
}

.logo{
    color:#863d86;
    letter-spacing: 2px;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0 2em;
    text-decoration: none;
    font-family:"montserrat-light";
}

.nav-item {
    padding: 0 18px;
}
 .fixed-top .nav-link {
    font-weight: bold;
    font-size: 1.2rem;
    color:rgb(12, 12, 75);
}
.title{
    font-weight: bold;
    text-align: left;

}
.title-image{
    border-radius: 100%;
    width:100%;
    position: relative;
    animation: waveanim 1s linear infinite alternate;  
}
@keyframes waveanim{
    0%{
        transform: translate(0,0) rotate(0);
   }
   100%{
        transform: translate(2px,2px) rotate(1deg);
   }  
}
.page-title{
    color:rgb(12, 12, 75) ;
}

   
#About .container {
    padding: 7% 3%;
} 
 li{
    list-style: none;
} 
.page-title-img{
    width: 100%;
    height: auto;
    animation: waveanim 1s linear infinite alternate; 
    position: relative;
    border-radius: 25px;
}
.page-title{
    padding: 2rem;
}
.hero {
    animation:waveanim 3s linear infinite alternate;
    color:rgb(12, 12, 75) ;
}

.service-title{
    margin-block-end:60px;
    max-width: max-content;
    margin-inline: auto;
    color:rgb(12, 12, 75) ;
    
}
.service-card{
    display: grid;
    gap: 30px;
    padding:30px;
}
    
 .service-icon{
    background-image: url(https://resolutionagency.netlify.app/assets/images/service-banner-pattern.png);
    background-color: hsla(277deg, 28%, 68%, 0.664);
    padding: 3.6rem 4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 165px;
    display: grid;
    margin-inline: auto;
    aspect-ratio: 1 / 1;
}
.service-text {
    text-align: center;
    padding: 10px 6px;
    color:rgb(12, 12, 75) ;
}
.btn {
    margin-inline: auto;  
} 
.btn .icon{
    border: 1px solid #863d86;
    border-radius: 50%;
    color: #863d86;
    
}
 .btn .icon:hover{
    background-color: #462746;
    color: white;
}
.card{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
#service{
    grid-template-columns: 1fr 1fr;
}
/* blog */
.blog-section{
    background-color:#5f195f ;
    padding: 6% 10%;
    color: white;

}
.blog-text{
    line-height: 1.5;
    font-size: 2rem;
    text-align: center;
}
.blog-image{
    border-radius: 100%;
    width: 50%;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#press .container-fluid{
    background-color: white;
    padding: 2rem;
    overflow: hidden;
}
.slider{
    background-color:white;
    
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items:center;
}
.slide-track{
    display: flex;
    width: calc(250px * 8);
    animation: scroll 6s linear infinite;
}
.slide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 4));
    }
}
.slide{

    
    display: flex;
    align-items: center;
    padding: 20px;
    perspective: 100px;
}
.media img{
    width: 60%; 
    transition: 1s;
}
.media{
    overflow: hidden;
}
.media img:hover{
    transform: translateZ(20px);
}
.part{
    display: flex;
} 
.feature-icon {
    margin: 2rem 1rem;  
}
.feature-img{
    padding: 4rem 2rem;
    width: 100%;
    border-radius:100% ;
}
/* footer contact */
#Contact .container-fluid{
    color:#863d86 ;
    background-color:#5f195f ;
    padding: 0;
}
.social-item{
    display: grid;
    gap: 10px;
    margin: auto;
    /* width: 50%; */
    padding: 1.5rem;
    justify-content: center;
}
.footer-icon{
    margin:0 1rem ;
    color: white;
}
#Contact p{
    text-align: center;
    color: white;
}
 .brand{
    color: white;
    letter-spacing: 2px;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0 2em;
    text-decoration: none;
    font-family:"montserrat-light";
}
.footer-brand{
    padding: 1.5rem;
}
#Contact li{
    margin: 0 1.5rem;
}
#footer .container-fluid{
    color:rgb(12, 12, 75) ;
    background-color: white;
    padding:2rem ;
}
 #footer p{
    color:rgb(12, 12, 75) ;
}
.social-icon{
    justify-content: center;
    display: flex;
    gap: 3rem;
    margin:auto;
    width: 50%;
}

 .active{
    visibility: visible;
    opacity: 1;
    transform: translateY(15px);
}
.go-top{
    position: fixed;
    bottom: 3%;
    right: 15px;
    background-color: #5f195f;
    color: white;
    font-size: 2rem;
    padding: 14px;
    border-radius: 3px;
    z-index: 2;
    transition: 0.15s;
}

